html, body, *{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#Title{
    text-align: center;
    font-size: 36px;
}
.container{
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 30rem;
    height: 35rem;
    border: 2px solid hotpink;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card-img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    flex-direction: column;
    text-align: center;
}
.card-header{
    font-size: 2.2rem;
    margin-top: 1.2rem;
}