html, body, *{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 211, 211);
}
#Title{
    text-align: center;
    font-size: 75px;
}
.container{
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 26%;
    height: 50rem;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
    background-color: rgb(255, 182, 193);
    min-width: 35rem;
}
.image{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.card-header{
    font-size: 2.2rem;
    margin-top: 2rem;
}