html, body, *{
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 211, 211);
    font-family: "Roboto Mono", monospace;
}

#Title{
    text-align: center;
    font-size: 7.5rem;
}
.container{
    display: flex;
    width: 90vw;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 21%;
    height: 50rem;
    border: .5rem solid rgb(0, 0, 0);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
    background-color: rgb(255, 182, 193);
    transition: all 1s;
    box-shadow: 1rem 1rem rgb(255,255,255);
}
@media screen and (max-width: 1600px) {
    .card {
        width: 30%
    }    
}
@media screen and (max-width: 1200px) { 
    .card {
        width: 40%
    }
}
@media screen and (max-width: 1000px) {
    .card {
        width: 80%
    }    
}
.image{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.card-header{
    font-size: 2.2rem;
    margin-top: 2rem;
}
@keyframes blacknwhite {
0% {
    filter: grayscale(0%);
    box-shadow: 1rem 1rem rgb(255,255,255);
}
50% {
    filter: grayscale(100%);
    box-shadow: 1rem 1rem rgb(255,255,0);
}
}
#glow{
animation: blacknwhite 2s infinite;
}

#big:hover{
    transform: scale(3);
}

#bigspin:hover{
    transform: scale(3) rotate(10turn);
}

#skew:hover{
    transform: scale(3) skew(-360deg);
}
#translateL:hover{
    transform: translate(-60rem);
}
#squish:hover{
    transform: scale(4,0.5);
}